body {
    font-family: 'Libre Franklin', sans-serif;
    display: block;
    text-align: center;
    box-sizing: border-box;
}

header img {
    width: 70px;
}

header {
    padding-top: 3rem;
}

main img {
    display: block;
    width: 33%;
    margin: 2rem auto;
}

a {
    background-color: hsl(223, 87%, 63%);
    color: #fff;
    padding: .7rem 2.3rem;
    text-transform: capitalize;
    border-radius: 2rem;
    text-decoration: none;
    display: inline-block;
    transition: 0.3s;
    cursor: pointer;
}

.error {
    text-align: left;
    width: 33.3%;
    margin: 10px auto;
    font-size: .6rem;
    color: hsl(354, 100%, 66%);
}

a:hover,
a:focus {
    background-color: hsl(223, 100%, 88%)
}

span {
    color: hsl(0, 0%, 59%);
    font-weight: 300;
}

h1 {
    margin-bottom: 1rem;
}

h2 {
    font-weight: 300;
    font-size: 1rem;
    margin-top: 0;
}

input {
    font-size: .8rem;
    display: inline-block;
    margin-right: 15px;
    padding: .7rem;
    border-radius: 25px;
    width: 300px;
    border: 1px solid hsl(0, 0%, 59%);;
}

textarea:focus, input:focus{
    outline: none;
}

ion-icon {
    color: hsl(223, 87%, 63%);
    margin-right: 10px;
    padding: 6px;
    border-radius: 50%;
}

ion-icon:hover,
ion-icon:focus {
    color: #fff;
    background-color:hsl(223, 87%, 63%);
    cursor: pointer;
    transition: .3s;
}

footer p {
    font-size: .5rem;
    margin-top: 1rem;
    color:hsl(0, 0%, 59%);;
}

@media only screen and (max-width: 950px) {
    input {
        display: block;
        margin: 2rem auto 0;
        width: 60%;
    }

    a {
        display: block;
        margin: 10px auto;
        padding: .7rem 1rem;
        width: 60%;
    }
    
    .error {
        width: 80%;
        margin: 0 auto;
        text-align: center;
    }

    main img {
        width: 80%;
    }

    ion-icon {
        font-size: 2rem;
    }

    footer p {
        font-size: .8rem;
    }
}